@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */
/* Q7. 横並び */
/* ー Q7-1 floatでの横並び ー */
.q7__float__parent {
  overflow: auto;
}
.q7__float__child {
  float: left;
  width: 205px;
  margin-right: 50px;
  font-size: 16px;
}
.q7__float__child:last-child {
  margin-right: 0;
}
/* ー Q7-2 tableでの横並び ー */
.q7__table__parent {
  display: table;
}
.q7__table__child {
  display: table-cell;
  vertical-align: middle;
}
.q7__table__text{
  width: 205px;
  margin-right: 50px;
} 
/* ー Q7-3 inline-blockでの横並び ー */
.q7__inlineblock__parent {
  font-size: 0;
}
.q7__inlineblock__child {
  display: inline-block;
  width: 205px;
  vertical-align: middle;
  margin-right: 50px;
  font-size: 16px;
}
.q7__inlineblock__child:last-child {
  margin-right: 0;
}
/* ー Q7-4 flexでの横並び ー */
.q7__flex__parent {
  display: flex;
  align-items: flex-end;
}
.q7__flex__child {
  margin-right: 25px;
  margin-left: 12px;
  width: 205px;
}
.q7__flex__child:last-child {
  margin-right: 10px;
  margin-left: 0;
}
/* ー Q7-5 inline-blockとmarginでの横並び ー */
.q7__margin__parent {
  width: 100%;
  box-sizing: border-box;
  font-size: 0;
}
.q7__margin__child1 {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}
.q7__margin__child2 {
  display: inline-block;
  vertical-align: top;
  padding-left: 350px;
  margin-left: -300px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}
