@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */
.balloon {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  width: 500px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 30px;
  background: #fff;
  border: solid 5px #222;
}
.balloon::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 6%;
  border: 18px solid transparent;
  border-top: 18px solid #fff;
  z-index: 2;
}
.balloon::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 4.6%;
  border: 25px solid transparent;
  border-top: 25px solid #222;
  z-index: 1;
}